<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.potfollio">
    <!-- 읽기 퍼미션 설정(갤러리 접근) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- usesCleartextTraffic => Access denied finding property 뜨길래 넣어봄 문제 되면 지워두 돼! -->
    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
<<<<<<<<< Temporary merge branch 1
        android:theme="@style/Theme.Potfollio"
        android:usesCleartextTraffic="true">
        <activity android:name=".ExpainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <activity android:name=".PasswordActivity"></activity>
        <activity android:name=".SettingActivity" />
=========
        android:theme="@style/Theme.Potfollio">

>>>>>>>>> Temporary merge branch 2
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".CardChangeActivity" />
        <activity android:name=".PasswordActivity"/>

        <!--
        <activity android:name=".CardChangeActivity"
            android:parentActivityName=".MainActivity"></activity> -->

    </application>

</manifest>